body {
  font: 300 16px/1.4 $font-stack;
  background-color: $pale;

  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }
}

.container {
  width: 100%;
  max-width: 1140px;
}

.content {
  @include make-row;
}

main {
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;

  @include make-col-ready();

  @include media-breakpoint-up(md) {
    @include make-col(8);

    flex-grow: 1;
    border-left: 15px solid $pale;

    body:not(.sidebar-primary) & {
      max-width: 100%;
    }
  }

  @include media-breakpoint-up(xl) {
    @include make-col(9);

    border-right: 15px solid $pale;
    border-left: 0;
    padding-left: 30px;
    padding-right: 30px;
  }

  b,
  strong {
    font-weight: 900;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    font-weight: 900;
    color: $darkslate;
    margin: 0 0 20px;

    @include font-smoothing;
  }

  > h2 {
    font-size: 30px;

    @include media-breakpoint-up(xl) {
      font-size: 40px;
    }
  }

  > h3 {
    font-size: 20px;

    @include media-breakpoint-up(xl) {
      font-size: 36px;
    }
  }

  > h4 {
    font-size: 17px;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }
  }

  iframe {
    width: 100%;
    height: 440px;
  }

  .gform_wrapper {
    border: 1px solid $lightcyan;
    padding: 15px;

    @include media-breakpoint-up(md) {
      padding: 15px 0 15px 15px;
    }

    .gfield_label {
      margin: 0;
      color: $darkslate-alt;
      font-size: 16px;
      font-weight: 300;
    }

    input,
    textarea {
      @extend .form-control;
    }

    .gform_button.button {
      margin: 0 !important;
      text-transform: none;
      border: 0 !important;
      box-shadow: none;

      @extend .btn-secondary;
    }
  }

  .calls-to-action {
    background: $pale;
    border: 1px solid $lightcyan;
    padding: 15px;

    .widget-title {
      margin: 0 0 10px;
      padding: 0;
      background: transparent;
      color: $darkslate;

      @include media-breakpoint-up(xl) {
        font-size: 36px;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

.programs-map {
  position: relative;
  display: none;

  @include media-breakpoint-up(md) {
    display: block;
    max-width: 90%;
  }
}

.map-pin {
  position: absolute;
  margin-top: -15px;
  margin-left: -5px;
  font-size: 16px;
  line-height: 1.3;
  text-indent: -15px;
  padding-left: 15px;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    cursor: pointer;

    .region-label {
      color: #d0021b;
    }
  }

  .region-label {
    color: $darkgrey;
    text-shadow: 0 1px 2px #fff;
    font-weight: 900;
    font-size: 16px;

    @include font-smoothing;
  }

  .fa-map-marker-alt {
    font-size: 18px;
    color: #d0021b;
    margin-right: 3px;
  }

  .badge {
    text-indent: 0;
    font-weight: 300;
    font-size: 13px;
    background-color: $darkgrey;

    @include font-smoothing;
  }
}

.pin-statewide {
  transform: translateX(-50%);

  .fa-map-marker-alt {
    display: none;
  }
}

.popover {
  border: 0;

  ul {
    list-style-type: none;
    padding: 0;
    font: 300 16px/1.4 $font-stack;
  }

  a {
    color: $slate;
    display: block;
    margin: 0 0 10px;
  }
}

.popover-header {
  background: $red;
  border: 0;
  color: white;
  font: 900 24px/1 $font-stack;

  @include font-smoothing;
}

.popover-body {
  h3 {
    font: 900 20px/1.2 $font-stack;
    color: $red;

    @include font-smoothing;
  }
}

#programs-map-mobile {
  margin: 0 0 40px;

  @include media-breakpoint-up(md) {
    display: none;
  }

  .card {
    margin-bottom: 4px;
    border: 0;
    border-radius: 0;
  }

  .btn-block {
    border-radius: 0;
    border: 1px solid $cyan;
    background: white;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8px;
    color: $darkgrey;

    @include font-smoothing;

    &[aria-expanded="true"] {
      background: $red;
      border-color: $red;
      color: white;

      .fa-map-marker-alt {
        color: white;
      }
    }
  }

  .mobile-region-label {
    font: 900 18px/1.2 $font-stack;
  }

  .fa-map-marker-alt {
    color: $red;
    margin-right: 10px;
  }

  .badge {
    background-color: $darkgrey;
    font-weight: 300;
  }

  .card-body {
    ul {
      list-style-type: none;
      padding: 0;
      font: 300 16px/1.4 $font-stack;
    }

    a {
      color: $slate;
      display: block;
      margin: 0 0 10px;
    }

    h3 {
      font: 900 20px/1.2 $font-stack;
      color: $red;

      @include font-smoothing;
    }
  }
}

/*
 * Video play button
 */
.play-button {
  font-size: 20px;
  color: white;
  text-align: center;
  width: 55px;
  height: 55px;
  border: 5px solid white;
  border-radius: 100%;
  box-shadow: 0 0 0 2px $red;
  background: $red;
  opacity: 0.8;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27.5px;
  margin-top: -27.5px;
  transition: opacity 0.2s;

  .home & {
    @include media-breakpoint-up(md) {
      font-size: 36px;
      width: 74px;
      height: 74px;
      margin-left: -37px;
      margin-top: -37px;
      border: 6px solid white;
      box-shadow: 0 0 0 3px $red;
    }

    @include media-breakpoint-up(xl) {
      font-size: 60px;
      width: 130px;
      height: 130px;
      margin-left: -65px;
      margin-top: -65px;
      border: 11px solid white;
      box-shadow: 0 0 0 4px $red;
    }
  }

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  .fa-play {
    margin-left: 7px;
    flex: auto;
  }
}

.home .play-button .fa-play {
  @include media-breakpoint-up(xl) {
    margin-left: 10px;
  }
}

// Unstyle auto-tel links
a[href^="tel"] {
  color: inherit;
  text-decoration: none;
}

// Google maps
.acf-map {
  width: 100%;
  height: 400px;
  border: #ccc solid 1px;
  margin: 20px 0;
}

.acf-map img {
  max-width: inherit !important;
}

// Wrapping boxes ([box][/box] shortcode)
.box-wrap {
  background: linear-gradient(to bottom, rgba($darkcyan, 0.1), rgba($darkcyan, 0));
  margin: 0 -15px;
  padding: 15px;

  @include media-breakpoint-up(xl) {
    padding: 15px 30px;
    margin: 0 -30px;
  }
}

// Columnar Lists
.three-column-list {
  padding: 0;
  list-style-type: none;
  columns: 1;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    columns: 2;
  }

  @include media-breakpoint-up(xl) {
    columns: 3;
  }

  li {
    display: inline-block;
    margin: 0 0 10px;
    width: 100%;
  }
}

.what-you-can-do {
  ul {
    padding-left: 18px;
  }
}
