/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

/** Import Typekit */
@import url("https://use.typekit.net/gcn5mmu.css");

$font-stack: 'komet', 'Helvetica Neue', 'Helvetica', sans-serif;

/** Colors */
$red: #c60f20;
$cyan: #8dacaf;
$darkcyan: #598286;
$lightcyan: #c1dadc;
$teal: #5f9ba1;
$slate: #373f3e;
$slate-alt: #373a3c;
$darkslate: #444a4b;
$darkslate-alt: #212529;
$darkgrey: #323232;
$darkgrey-alt: #2a2c2e;
$pale: #e8eeef;

$theme-colors: (
  primary: $red
);

// Font smoothing
@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// New breakpoints
$grid-breakpoints: (
  xxxs: 0,
  xxs: 320px,
  xs: 568px,
  sm: 667px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1500px,
);

// Button mixin
@mixin button-double-border() {
  border-radius: 99px;
  border: 1px solid white;
  box-shadow: 0 0 0 1px $red;
  text-transform: uppercase;
  font-weight: 900;

  @include font-smoothing;

  &:hover {
    border-color: white;
  }
}
