.stay-connected {
  background: $darkgrey;
  padding: 5px 0;

  @include media-breakpoint-up(md) {
    padding: 15px 0;
  }

  .gform_wrapper {
    form {
      @include media-breakpoint-up(md) {
        display: flex;
        align-items: center;
        flex-flow: row wrap;
      }

      @include media-breakpoint-up(lg) {
        flex-flow: row nowrap;
      }
    }

    .gform_heading {
      margin: 0;
      width: 100%;

      @include media-breakpoint-up(md) {
        flex: 1 0 100%;
      }

      @include media-breakpoint-up(lg) {
        flex: 0 0 auto;
        width: auto;
      }
    }

    .gform_body {
      @include media-breakpoint-up(md) {
        width: auto;
        flex: auto;
      }
    }

    .gform_title {
      width: auto;
      white-space: nowrap;
      margin: 0 0 20px;
      font-size: 24px;
      font-weight: 300;
      color: white;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 36px;
      }

      @include media-breakpoint-up(lg) {
        margin: 0;
        text-align: left;
        padding-right: 30px;
      }
    }

    .gform_fields {
      @include media-breakpoint-up(md) {
        display: flex;
      }
    }

    .gfield {
      flex: 1 1 50%;
      margin: 0;

      input {
        width: 100% !important;
        margin: 0 0 10px;
        border-radius: 99px;
        border: 1px solid $darkcyan;
        padding-left: 20px !important;

        @include media-breakpoint-up(md) {
          margin: 0;
        }
      }
    }

    .ginput_container {
      margin: 0 !important;
    }

    .gfield_label {
      @extend .sr-only;
    }

    .gform_footer {
      flex: none;
      padding: 0;
      margin: 0;
      width: auto;
    }

    .gform_button {
      margin: 0 !important;

      @include button-double-border;
    }

    /*
     * Validation
     */
    div.validation_error {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 999999;
      background: $red;
      border: 0;
      color: white;

      @include font-smoothing;
    }

    li.gfield.gfield_error {
      background-color: transparent;
      margin-bottom: 0 !important;
      border: 0;
      padding-bottom: 0;
      padding-top: 0;
    }

    .validation_message {
      padding-top: 2px !important;
      font-size: 12px;
      color: white;
      width: auto;

      @include font-smoothing;

      @include media-breakpoint-up(md) {
        position: absolute;
      }
    }

    ul.gform_fields li.gfield.gfield_error + li.gfield.gfield_error {
      margin-top: 0;
    }
  }
}

[role="contentinfo"] {
  background: #fff;
  padding: 0 0 40px;
  margin: 0;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
    margin: 80px 0 0;
  }

  .brand {
    max-width: 362px;
    display: block;
  }

  /* Home page */
  .page-id-37 & {
    margin-top: 0;
  }
}

.footer-top {
  padding: 15px 0;

  @include media-breakpoint-up(xl) {
    display: flex;
    justify-content: space-between;
  }

  .btn-primary {
    margin-left: 10px;
  }
}

.footer-meta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;

  @include media-breakpoint-up(md) {
    justify-content: space-between;
    position: relative;
  }

  @include media-breakpoint-up(xl) {
    justify-content: flex-end;
  }

  .dropdown {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .btn-primary {
    @include button-double-border;
  }

  > * {
    margin-top: 15px;

    @include media-breakpoint-up(xl) {
      margin-top: 0;
    }
  }

  .search-form {
    max-width: 165px;

    @include media-breakpoint-up(md) {
      margin-left: 20px;
    }
  }

  .social-icons {
    @include media-breakpoint-up(md) {
      position: absolute;
      right: 0;
      top: -48px;
    }

    @include media-breakpoint-up(xl) {
      position: static;
    }
  }
}

.footer-button-group {
  @include media-breakpoint-up(md) {
    display: flex;
  }
}

.footer-contact-link {
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  margin: 0 0 20px;

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.footer-menu {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: center;
    margin: 15px 0 0;
  }

  @include media-breakpoint-up(xl) {
    flex-flow: column nowrap;
    width: 166px;
    float: right;
  }

  li {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 300;

    @include media-breakpoint-up(xl) {
      margin: 0;
      padding: 5px 0;
      border-bottom: 1px solid $cyan;

      a {
        display: block;
      }
    }
  }
}

.footer-offices {
  display: none;

  @include media-breakpoint-up(md) {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 30px 0 0;
    list-style-type: none;
    font-size: 14px;
  }

  > li {
    flex: 0 1 33.3334%;
    margin: 0 0 25px;
  }

  .office-contact {
    padding: 0;
    list-style-type: none;
  }

  strong {
    font-weight: 900;
    text-transform: uppercase;
    color: $darkgrey;

    @include font-smoothing;
  }

  a {
    font-weight: 900;

    @include font-smoothing;
  }
}

.copyright {
  color: $darkgrey;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  display: block;
  margin: 0 0 15px;
  text-align: center;

  @include media-breakpoint-up(md) {
    text-align: left;
  }
}

.menu-footer-meta {
  justify-content: center;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;

  @include media-breakpoint-up(md) {
    justify-content: flex-start;
  }

  li {
    margin-right: 10px;
  }

  a {
    color: $darkgrey;
  }
}

.back-to-top {
  font-weight: 300;
  font-size: 18px;
  color: $darkgrey;
  text-decoration: none;
  margin: 40px 0 0;
  display: block;

  &:hover {
    text-decoration: none;
    color: $red;
  }

  .fa-arrow-circle-up {
    color: $red;
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}
