header[role="banner"] {
  background: white;

  .brand {
    display: block;
    max-width: 520px;
    order: 2;

    @include media-breakpoint-up(md) {
      order: 1;
      max-width: 284px;
    }

    @include media-breakpoint-up(xl) {
      max-width: 520px;
    }
  }
}

/**
 * Header
 */
.header-main {
  padding: 10px 0 20px;
  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(md) {
    padding: 10px 0;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.header-meta {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  order: 1;
  margin-bottom: 10px;

  @include media-breakpoint-up(md) {
    order: 2;
    margin-bottom: 0;
  }

  .btn {
    margin-left: 10px;
  }
}

.social-icons--expanded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: $pale;
  padding: 13px 10px;
  height: 50px;
  z-index: 10;

  @include media-breakpoint-up(md) {
    position: static;
    background: transparent;
    padding: 0;
    height: auto;
  }
}

.mobile-social-more--expanded {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 11;
}

.header-nav {
  position: relative;

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-form {
    padding-left: 15px;
    max-width: 197px;
    position: absolute;
    top: 0;
    right: 0;

    @include media-breakpoint-up(md) {
      position: static;
    }

    @include media-breakpoint-between(md, lg) {
      .form-control {
        display: none;
      }

      [type="submit"] {
        border: 0;
        border-radius: 0;
      }
    }
  }
}

/**
 * Main Menu
 */
.nav-primary {
  flex: none;

  @include media-breakpoint-up(md) {
    margin-left: -15px;
  }
}

.menu-collapser {
  position: relative;
  width: 70px;
  height: 48px;
  padding: 0 0 0 30px;
  color: $darkgrey;
  font-size: 14px;
  line-height: 42px;
  background-color: transparent;
}

.collapse-button {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  padding: 10px 0;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus {
    color: #fff;
  }

  .icon-bar {
    display: block;
    height: 2px;
    width: 18px;
    margin: 4px 0;
    background-color: $darkgrey;
    border-radius: 1px;
    position: relative;
    transition: all 500ms ease-in-out;
  }

  &.active {
    span:nth-of-type(1) {
      top: 6px;
      transform: rotate(45deg);
      opacity: 0;
    }

    span:nth-of-type(2) {
      transform: rotate(45deg);
    }

    span:nth-of-type(3) {
      top: -6px;
      transform: rotate(-45deg);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 26px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 10px 10px 10px;
      border-color: transparent transparent $red transparent;
    }
  }
}

.slimmenu {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }

  li {
    position: relative;
    float: left;
    display: inline-block;
    transition: background-color 0.2s ease-out;

    &:hover {
      background-color: $lightcyan;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 300px;

      li {
        background-color: $lightcyan;
        width: 100%;
      }
    }

    > ul {
      position: absolute;
      left: 0;
      top: 100%;
      z-index: 999;
      display: none;

      > li ul {
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 999;
        display: none;
        width: 100%;
      }

      a {
        font-size: 16px;
      }
    }

    a {
      display: block;
      padding: 12px 64px 12px 16px;
      color: $darkgrey;
      font-size: 18px;
      font-weight: 300;

      @include font-smoothing;

      @include media-breakpoint-up(md) {
        padding: 12px 16px;
      }

      @include media-breakpoint-up(xl) {
        font-size: 20px;
      }

      &:hover {
        text-decoration: none;
        color: white;
        background-color: $darkcyan;
      }
    }

    .sub-toggle {
      background: transparent;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 999;
      width: 48px;
      height: 100%;
      text-align: center;
      cursor: pointer;

      @include media-breakpoint-up(md) {
        display: none;
      }

      &::before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: -0.25em;
        vertical-align: middle;
      }

      > i {
        display: inline-block;
        color: white;
        font-size: 14px;
        font-style: normal;
        vertical-align: middle;
      }
    }
  }

  &.collapsed {
    margin: 0 -15px;
    background: $red;
    width: auto;

    li {
      display: block;
      width: 100%;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }

      > ul {
        position: static;
        display: none;
        width: auto;
        background: rgba(0, 0, 0, 0.1);

        li {
          background: rgba(0, 0, 0, 0.15);
        }

        a {
          border-bottom: 2px solid rgba(0, 0, 0, 0.075);
          padding: 9px 64px 9px 34px;
        }
      }

      a {
        display: block;
        border-bottom: 2px solid rgba(255, 255, 255, 0.075);
        color: white;

        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }

      .sub-toggle {
        height: 50px;
      }
    }
  }
}

/**
 * Page Header
 */
.breadcrumb {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background: transparent;
  color: $cyan;
  font-size: 14px;

  @include font-smoothing;

  @include media-breakpoint-up(md) {
    padding-left: 15px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 16px;
  }

  a {
    color: $cyan;
  }

  .active {
    opacity: 0.77;

    @include media-breakpoint-down(sm) {
      &:not(:nth-child(2)) {
        display: none;
      }
    }
  }

  .breadcrumb-item + .breadcrumb-item::before {
    content: '|';
    color: $cyan;
  }
}

.page-header {
  padding: 15px 0;
  margin: 0;
}

.page-title {
  color: $darkslate;
  font: 900 24px/1 $font-stack;
  margin: 0 0 15px;

  @include media-breakpoint-up(xl) {
    font-size: 48px;
    margin: 0 0 25px;
  }
}
