/**
 * Home page
 */
.home-hero {
  height: 100vw;
  max-height: 400px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;

  @include media-breakpoint-up(xl) {
    max-height: 700px;
  }

  .container {
    flex: 1 1 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    text-align: right;
    justify-content: flex-end;
  }

  h1 {
    color: $red;
    font: 900 24px/1.2 $font-stack;
    background: white;
    display: inline-block;
    margin: 0;
    padding: 5px 15px 7px;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 55px;
    }
  }

  p {
    color: $darkgrey;
    font: 300 18px/1.2 $font-stack;
    background: white;
    display: block;
    margin: 0 -15px;
    padding: 5px 15px 7px;
    text-align: center;
    align-self: stretch;

    @include media-breakpoint-up(md) {
      font-size: 24px;
      margin: 0 0 30px;
      display: inline-block;
      text-align: right;
      align-self: flex-end;
    }

    @include media-breakpoint-up(xl) {
      font-size: 36px;
      margin-bottom: 40px;
    }
  }
}

.home-audience-links {
  padding: 30px 15px 0;
  background-color: #444a4b;

  @include media-breakpoint-up(md) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @include media-breakpoint-up(xl) {
    padding-left: 30px;
    padding-right: 30px;
  }

  h2 {
    text-align: center;
    margin: 0 0 30px;
    color: white;
    font-size: 24px;

    @include font-smoothing;

    @include media-breakpoint-up(md) {
      font-size: 36px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 64px;
    }
  }

  .col-md-4 {
    @include media-breakpoint-up(md) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

.home-map-events {
  padding: 30px 0;
  background-color: #e8eeef;

  .events-widget {
    @include media-breakpoint-up(md) {
      column-count: 2;
    }

    @include media-breakpoint-up(xl) {
      column-count: 1;
    }
  }
}

.home-head {
  color: $darkgrey;
}

.home-programs-head {
  font: 300 24px/1.2 $font-stack;
  text-align: center;
  margin: 0 0 30px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 64px;
    text-align: right;
    margin-bottom: -64px;
    padding-right: 40px;
    padding-left: 280px;
  }
}

.home-events-head {
  font: 900 20px/1.2 $font-stack;
  text-align: center;
  margin: 0 0 30px;

  @include media-breakpoint-up(md) {
    font-size: 24px;
  }

  @include media-breakpoint-up(xl) {
    padding-top: 30px;
    margin: 0 0 40px;
    text-align: left;
  }
}

.home-stories-head {
  color: $darkgrey;
  font: 300 24px/1.2 $font-stack;
  text-align: center;
  margin: 0 0 30px;

  @include media-breakpoint-up(md) {
    font-size: 36px;
    text-align: left;
  }

  @include media-breakpoint-up(xl) {
    font-size: 64px;
  }
}

.home-featured-stories {
  background: #fff;
  padding: 30px 0;

  .container {
    position: relative;
  }
}

.btn-featured-stories {
  background: $darkgrey;
  border: 0;
  border-radius: 99px;
  text-transform: uppercase;
  font: 900 16px/1 $font-stack;
  color: white;
  transition: background 0.2s;
  display: block;

  @include font-smoothing;

  &:hover {
    color: white;
    background: $darkslate;
  }

  @include media-breakpoint-up(md) {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 15px;
    padding: 10px 40px;
  }

  @include media-breakpoint-up(xl) {
    top: 20px;
  }
}
