/*
 * General
 */
.meta {
  font-size: 13px;
  display: block;
  margin: 0 0 5px;
}

ul.meta {
  list-style-type: none;
  padding: 0;
}

.thumbnail-bg {
  width: 100%;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #eee;

  &::after {
    content: '';
    display: block;
    width: 100%;
  }
}

.thumbnail-square {
  &::after {
    padding-bottom: 100%;
  }
}

.thumbnail-4x3 {
  &::after {
    padding-bottom: 75%;
  }
}

.thumbnail-16x9 {
  &::after {
    padding-bottom: 56.25%;
  }
}

/*
 * Timeline entries
 */
.timeline-entry {
  margin: 0 0 0 15px;
  border-left: 10px solid $red;
  padding: 0 0 30px 24px;
  position: relative;

  @include media-breakpoint-up(md) {
    margin: 0 0 0 30px;
    padding: 0 0 30px 30px;
  }

  &::before {
    content: '';
    position: absolute;
    left: -24.5px;
    top: -10px;
    width: 38px;
    height: 38px;
    border-radius: 100%;
    border: 10px solid $red;
    background: white;

    @include media-breakpoint-up(md) {
      width: 45px;
      height: 45px;
      left: -27.5px;
    }
  }

  .meta {
    font: 900 14px/1 $font-stack;
    margin: 0 0 10px;
    color: $red;
  }

  .entry-title {
    font: 900 18px/1.2 $font-stack;
    color: $slate-alt;

    @include font-smoothing;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    a {
      color: $slate-alt;
    }
  }

  p {
    margin: 0;
    font-size: 16px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }

  .btn-outline-primary {
    margin-top: 15px;
  }
}

/*
 * Timeline filter
 */
.timeline-filter {
  background: $pale;
  padding: 10px;
  margin: 0 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;

  @include media-breakpoint-up(xl) {
    flex-flow: row nowrap;
  }

  > strong {
    text-transform: uppercase;
    font: 900 18px/1 $font-stack;
    color: $darkgrey;
  }

  .searchandfilter {
    flex: 1 1 100%;
    font-size: 16px;

    h4 {
      padding: 8px 0;
      margin: 0 15px 0 0;
      font-weight: 300;
      font-size: 16px;

      @include media-breakpoint-up(xl) {
        padding: 0;
      }
    }

    ul {
      padding: 0;

      @include media-breakpoint-up(md) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row nowrap;
      }

      @include media-breakpoint-up(xl) {
        justify-content: flex-end;
      }
    }

    select {
      @extend .custom-select;

      width: 100%;
      max-width: 100%;

      @include media-breakpoint-up(md) {
        max-width: 200px;
        min-width: 90px;
      }
    }

    .sf-field-taxonomy-region,
    .sf-field-taxonomy-entry-type {
      @include media-breakpoint-up(md) {
        max-width: 200px;
      }

      @include media-breakpoint-up(xl) {
        max-width: none;
      }

      label {
        width: 100%;

        @include media-breakpoint-up(md) {
          width: auto;
        }
      }
    }
  }

  [data-sf-field-type="taxonomy"] {
    padding: 0;

    @include media-breakpoint-up(xl) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 0 0 20px;
      flex-flow: row nowrap;
    }

    li {
      margin-right: 20px;
      display: inline;

      @include media-breakpoint-up(md) {
        display: block;
      }
    }
  }
}

/*
 * Cards
 */
.card {
  margin-bottom: 30px;
  position: relative;

  &:hover {
    text-decoration: none;
  }

  > .btn {
    border-radius: 0;
    white-space: normal;
  }
}

.card-region {
  position: absolute;
  top: 0;
  right: 0;
  background: $lightcyan;
  color: $darkgrey;
  font: 900 16px/1 $font-stack;
  padding: 5px 10px;
  display: none;

  @include font-smoothing;

  .template-issue & {
    display: inline-block;
  }

  .fa-map-marker-alt {
    color: $red;
  }
}

.img-card {
  position: relative;
  display: block;
  margin: 0 0 30px;
  min-height: 50px;

  button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    font-size: 18px;
    font-weight: light;
    text-align: left;
    background: rgba(198, 15, 32, 0.8);
    white-space: normal;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }

    img {
      width: 30px;
      height: 30px;
      margin-right: 5px;

      @include media-breakpoint-up(xl) {
        width: 61px;
        height: 61px;
      }
    }
  }
}

.img-card-home {
  border: 4px solid #fff;
  transition: border 0.2s;

  &:hover {
    border-color: $red;
  }

  @include media-breakpoint-up(xl) {
    box-shadow: 0 -8px 44px #323232;
  }

  button {
    @include media-breakpoint-up(md) {
      padding-left: 6px;
      padding-right: 6px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 24px;
      padding-left: 10px;
      padding-right: 10px;
    }

    @include media-breakpoint-up(xxl) {
      font-size: 36px;
    }
  }
}

.vid-wrap {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-img-top {
  flex: none;
}

/*
 * Programs card
 */
.program-card {
  border: 1px solid $lightcyan;
  border-radius: 0;

  .img-card {
    margin-bottom: 0;

    &:hover {
      text-decoration: none;
    }
  }

  .card-body {
    font-size: 18px;
    padding: 14px;

    > strong {
      color: $slate-alt;
    }

    ul {
      padding-left: 18px;
    }
  }
}

.programs-archive-map-wrap {
  background: $pale;
  padding: 30px;
  margin: 0 0 30px;
}

/*
 * Stories
 */
.story-card {
  @include media-breakpoint-up(xl) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .card-body {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }

  .entry-title {
    font: 300 16px/1.2 $font-stack;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }

  .meta {
    font-size: 10px;
    color: $slate-alt;

    @include media-breakpoint-up(xl) {
      font-size: 14px;
    }

    .author,
    time {
      font-weight: 900;
      text-transform: uppercase;

      @include font-smoothing;
    }

    a {
      font-size: 14px;
    }
  }

  .entry-summary {
    font-size: 14px;

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}

.image-round-bg {
  display: block;
  padding-bottom: 210px;
  width: 210px;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #fff;
  box-shadow: 0 0 0 2px $red;
  margin: 0 auto;

  @include media-breakpoint-up(md) {
    width: 100%;
    padding-bottom: 100%;
  }
}

/*
 * Tools & Resources
 */
.resource-card {
  margin: 0 0 30px;

  @include media-breakpoint-up(xl) {
    display: flex;
  }

  .resource-figure {
    display: block;
    width: 100%;
    padding-bottom: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 0 10px;

    @include media-breakpoint-up(xl) {
      width: 165px;
      flex: 0 0 165px;
      padding: 0;
      margin: 0;
    }
  }

  .entry-title {
    margin: 0 0 5px;
    font-size: 18px;
    font-weight: 900;

    @include font-smoothing;
  }

  .meta {
    font-size: 14px;

    a {
      color: $teal;
    }
  }

  .card-body {
    padding: 0;
    color: $darkslate;

    @include media-breakpoint-up(xl) {
      padding: 5px 0 5px 15px;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
  }
}

.post-type-archive-resource {
  .searchandfilter {
    ul {
      padding: 0;
      margin: 0 0 30px;
    }
  }

  .sf-field-taxonomy-resource-type {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h4 {
      margin-right: 10px;
      padding: 0;
    }

    select {
      @extend .custom-select;
    }
  }
}

/*
 * Programs
 */
.program-contact {
  margin: 0 0 15px;
  background: $pale;
  border: 1px solid $lightcyan;
  padding: 10px;
  font-size: 16px;

  @include media-breakpoint-up(md) {
    max-width: 40%;
    float: right;
    margin: 0 0 15px 15px;
  }

  h3 {
    font: 900 16px/1.2 $font-stack;
    color: $cyan;

    @include font-smoothing;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }

  p {
    margin: 0;
  }
}

.youth-media-site-link {
  text-align: center;
  margin: 0 0 15px;

  div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }

  button {
    margin: 0 0 10px;
  }
}

/*
 * Staff
 */
.person-card {
  color: $darkgrey-alt;
  margin: 0 0 30px;
  display: flex;
  align-items: flex-start;

  @include media-breakpoint-up(md) {
    display: block;
  }

  > a,
  > img,
  > .thumbnail-square {
    flex: 0 0 100px;
    margin-right: 10px;

    @include media-breakpoint-up(md) {
      margin-right: 0;
    }
  }

  img,
  .thumbnail-square {
    width: 100px;

    @include media-breakpoint-up(md) {
      width: 100%;
      margin-bottom: 5px;
    }
  }

  .entry-title {
    font-size: 18px;
    font-weight: 900;
    margin: 0 0 5px;

    @include font-smoothing;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }

    a {
      color: $red;
    }
  }

  .meta {
    font-size: 13px;
  }

  li {
    padding: 2px 0;
  }

  a {
    color: $teal;
  }
}

.staff-programs {
  list-style-type: none;
  padding: 0;

  li {
    border-top: 1px solid #979797;
  }
}

/*
 * Testimonials
 */
.testimonial {
  text-align: center;
  margin: 0 0 30px;

  @include media-breakpoint-up(md) {
    display: flex;
    align-items: flex-start;
    text-align: left;

    &:nth-of-type(even) {
      flex-direction: row-reverse;
      text-align: right;

      .rounded-circle {
        margin: 0 0 0 20px;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    margin: 0 0 40px;
  }

  .rounded-circle {
    border: 2px solid $red;
    margin: 0 0 10px;

    @include media-breakpoint-up(md) {
      margin: 0 20px 0 0;
      flex: 0 0 100px;
      width: 100px;
      height: 100px;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 150px;
      width: 150px;
      height: 150px;
    }
  }

  .testimonial-body {
    font: 300 18px/1.4 $font-stack;
    color: $darkslate;

    @include media-breakpoint-up(xl) {
      font-size: 36px;

      @include font-smoothing;
    }
  }

  .attribution {
    color: $cyan;
    font: 900 14px/1.2 $font-stack;

    @include font-smoothing;

    &::before {
      content: '— ';
    }

    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}

/*
 * FAQs
 */
.faqs-wrap {
  margin: 0 0 30px;
}

.faq-card {
  border: 1px solid $lightcyan;
  margin: 0 0 -1px;

  .card-body {
    padding: 15px 15px 5px;
  }
}

.faq-card-header {
  .btn-link {
    background: $red;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    white-space: normal;
    text-align: left;
    border: 0;
    border-radius: 0;
    padding: 5px 15px;
    font: 900 16px/1.2 $font-stack;

    @include font-smoothing;

    @include media-breakpoint-up(md) {
      font-size: 20px;
    }

    &::after {
      content: '–';
      font: 900 35px/1 $font-stack;
      padding-bottom: 5px;
      padding-left: 10px;
    }

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }

    &[aria-expanded="false"] {
      background: $pale;
      color: $red;

      &::after {
        content: '+';
      }
    }
  }
}

/*
 * Reports & Documents
 */
.reports-documents-list {
  list-style-type: none;
  padding: 0;

  a {
    padding: 5px;
    margin-left: -5px;
    transition: background 0.2s;

    &:hover {
      background: #fbfbfb;
      text-decoration: none;
    }
  }

  .fa-file-alt {
    color: $teal;
    font-size: 54px;
    margin-right: 15px;
  }

  h4 {
    font-size: 20px;
    margin: 0;
  }

  small {
    color: $darkslate;
    font-size: 20px;
  }
}

/*
 * Search results
 */
.search-result {
  .entry-title {
    font-size: 18px;
    font-weight: 900;

    @include media-breakpoint-up(xl) {
      font-size: 20px;
    }
  }
}

/*
 * Events
 */
#tribe-events-pg-template {
  padding: 0;
}

#tribe-bar-collapse-toggle {
  background-color: white;
}

#tribe-bar-form {
  background-color: white;
  border: 1px solid $pale;
}

#tribe-bar-form .tribe-bar-submit input[type="submit"] {
  @extend .btn;
  @extend .btn-secondary;

  padding: 15px 10px !important;
}

.tribe-bar-views-inner,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option a,
#tribe-bar-views .tribe-bar-views-list .tribe-bar-views-option.tribe-bar-active a:hover {
  background-color: $pale;
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type="submit"],
.tribe-events-button,
.tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive,
.tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present div[id*="tribe-events-daynum-"] > a,
#tribe-events-content .tribe-events-calendar td.tribe-events-present.mobile-active:hover,
.tribe-events-calendar td.tribe-events-present.mobile-active,
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"],
.tribe-events-calendar td.tribe-events-present.mobile-active div[id*="tribe-events-daynum-"] a {
  background-color: $teal;
}

.tribe-events-calendar thead th {
  background-color: $cyan;
  border-color: $cyan;
}

/**
 * PDF Attachments
 */
.pdf-attachment-wrap {
  margin-bottom: 30px;

  .btn-group {
    display: flex;

    .btn {
      flex: 1 1 50%;
      border-radius: 0;
      font-size: 12px;
      font-weight: 900;
      text-transform: uppercase;

      @include font-smoothing;

      &:last-child {
        border-left: 1px solid #970b18;
      }
    }
  }
}

.pdf-thumbnail {
  border: 1px solid #ddd;
}

// Youth Opportunities
.youth-opportunities-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 0 !important;
  margin: 0;
  list-style-type: none;

  li {
    width: 100%;
    padding: 0 15px 0 22px;
    text-indent: -22px;

    @include media-breakpoint-up(md) {
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      width: 33%;
    }
  }

  .fa-check,
  .fa-times {
    font-size: 19px;
    width: 19px;
    margin-right: 3px;
    position: relative;
    bottom: -1px;
  }

  .fa-check {
    color: #00e70b;
  }

  .fa-times {
    color: #8dacaf;
  }

  .--no {
    color: #b1b7b8;
  }

  &--title {
    display: flex;
    flex-flow: column nowrap;

    @include media-breakpoint-up(md) {
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    .btn {
      margin: 10px 0 0;

      @include media-breakpoint-up(md) {
        margin: 0 0 0 10px;
      }
    }
  }

  .program-card & {
    display: block;
    margin: 0 0 10px;

    li {
      width: 100%;
      margin: 0 0 5px;
    }
  }
}

/**
 * WooCommerce
 */

// Tabs
.woocommerce div.product .woocommerce-tabs {
  h2 {
    font-weight: 900;
  }
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
  padding-left: 8px;

  &::before {
    border-bottom-color: $cyan;
  }

  li {
    border-color: $cyan;
    background-color: $cyan;
    margin: 0 6px 0 0;
    padding: 0;

    &::before,
    &::after {
      border-color: $cyan;
    }

    &::before {
      box-shadow: 2px 2px 0 $cyan;
    }

    &::after {
      box-shadow: -2px 2px 0 $cyan;
    }

    a {
      font: 900 16px/1 $font-stack;
      padding: 10px 20px;
      color: white;

      @include font-smoothing;

      &:hover {
        color: white;
      }
    }

    &.active {
      a {
        color: $cyan;
      }
    }
  }
}

// Product Title
.woocommerce div.product .product_title {
  @extend .page-title;
}

// Price
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: black;
  text-decoration: none;
  font-size: 16px;

  @include media-breakpoint-up(xl) {
    font-size: 20px;
  }

  ins {
    text-decoration: none;
  }

  .amount {
    font-weight: 700;
  }

  del .amount {
    font-weight: 400;
  }
}

.woocommerce-loop-product__link:hover {
  text-decoration: none;
}

// Add to Cart
.woocommerce div.product form.cart .button {
  @extend .btn;
  @extend .btn-outline-primary;
}

// Quantity
.woocommerce .quantity .qty {
  @extend .form-control;

  width: 3.631em;
}

// Categories
.product_meta .posted_in {
  display: none;
}

// Product images
.woocommerce div.product div.images .woocommerce-product-gallery {
  &__wrapper {
    margin: 0 -10px;
  }

  &__image {
    padding: 10px 10px 0;

    &:nth-child(n+2) {
      width: 33.333%;
    }
  }
}

// Sale marker
.woocommerce span.onsale {
  right: 0;
  top: 10px;
  left: auto;
  border-radius: 0;
  background-color: rgba(198, 15, 32, 0.8);
  padding: 10px;
  text-transform: uppercase;
  min-height: 1px;
  min-width: 1px;
  line-height: 1;

  @include font-smoothing;
}

.woocommerce .program-card span.onsale {
  top: 0;
}

// In stock label
.woocommerce div.product .stock {
  color: $cyan;
}

// Sortby
.woocommerce .custom-select {
  line-height: 1;
}

// Card product price/rating
.product-price-rating {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
