.sidebar {
  padding-top: 30px;

  @include media-breakpoint-down(sm) {
    display: flex;
    flex-flow: column nowrap;
  }

  @include make-col-ready();

  @include media-breakpoint-up(sm) {
    padding-top: 0;

    @include make-col(4);
  }

  @include media-breakpoint-up(xl) {
    @include make-col(3);
  }

  .gform_wrapper {
    background: #fff;
    padding: 10px;
    margin: 0;
    font-size: 16px;

    .gform_title {
      @extend .widget-title;
    }

    .gfield {
      width: 100% !important;
      padding-right: 0 !important;
    }

    .gfield_label {
      margin: 0;
      color: $darkslate-alt;
      font-size: 16px;
      font-weight: 300;
    }

    input,
    textarea {
      @extend .form-control;
    }

    .gform_button.button {
      margin: 0 !important;
      display: block !important;
      width: 100%;
      text-transform: none;
      border: 0 !important;
      box-shadow: none;

      @extend .btn-secondary;
    }
  }

  .share-icons {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

.widget {
  margin: 0 0 30px;

  @include media-breakpoint-down(sm) {
    order: 1;
  }

  @include media-breakpoint-up(md) {
    margin: 0 0 40px;
  }

  @include media-breakpoint-up(xl) {
    margin: 0 0 50px;
  }
}

.widget-title {
  font-size: 16px;
  font-weight: 900;
  margin: 0 0 10px;
  color: $darkgrey;

  @include font-smoothing;

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }

  &.--sidebar-list {
    margin: 0;
    padding: 5px;
    border-bottom: 2px solid $lightcyan;
  }
}

#widget-submenu {
  @include media-breakpoint-down(sm) {
    order: 2;
  }
}

#sidebar-menu {
  list-style-type: none;
  padding: 0;
  font-weight: 300;
  font-size: 16px;

  @include media-breakpoint-up(xl) {
    font-size: 18px;
  }

  a {
    display: block;
    padding: 5px;
    border-bottom: 2px solid $lightcyan;
    color: $red;

    &:hover {
      color: $red;
      background-color: $lightcyan;
      text-decoration: none;
    }
  }

  .current-menu-item > a {
    color: $cyan;

    &:hover {
      cursor: default;
    }
  }

  > li > a,
  > .current-menu-item > a {
    color: #4a4a4a;
    font-weight: 900;

    @include font-smoothing;

    &:hover {
      color: #4a4a4a;
    }
  }

  ul {
    padding: 0;
    list-style-type: none;
  }

  .menu-item-has-children.d-none {
    display: block !important;
  }
}

.sidebar-list {
  @extend #sidebar-menu;

  > li > a {
    font-weight: 300;
    background: transparent;
    color: $red;
  }
}

/*
 * Events widget
 */
.events-widget {
  padding: 0;
  list-style-type: none;
}

.event-mini {
  display: flex;
  align-items: flex-start;
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid $lightcyan;
}

.event-mini-date {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  width: 56px;
  flex: 0 0 56px;
  margin-right: 10px;
  margin-top: 3px;

  .month {
    background: $red;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1;
    padding: 5px 0;
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

    @include font-smoothing;
  }

  .day {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 900;
    color: $slate;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-bottom: 3px;
  }
}

.event-mini-body {
  flex: 1 1 auto;
  padding: 6px 0 0;

  h4 {
    font-size: 16px;
    font-weight: 900;
    margin: 0 0 5px;

    a {
      color: $slate;
    }
  }

  time {
    display: block;
  }

  .meta {
    font-size: 14px;
    line-height: 1.2;
    color: $darkcyan;

    a {
      color: $darkcyan;
      text-decoration: underline;
    }
  }
}

/*
 * Calls to Action widget
 */
.calls-to-action {
  background: #fff;
  padding: 10px;
  font-size: 16px;

  .widget-title {
    margin: -10px -10px 10px;
    background: $red;
    padding: 10px;
    color: white;
    font-size: 24px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    margin-bottom: 10px;
  }
}

/*
 * Youth Quote widget
 */
.widget-youth-quote {
  @include media-breakpoint-down(sm) {
    display: none;
  }

  blockquote {
    border: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 900;
    color: $darkslate;

    @include font-smoothing;

    @include media-breakpoint-up(xl) {
      font-size: 24px;
    }
  }

  p {
    &::before {
      content: '\201c';
    }

    &::after {
      content: '\201d';
    }
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 3px solid white;
    box-shadow: 0 0 0 1px $red;
    margin: 0 10px 0 0;
  }

  .media-body {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.4;
    color: $red;
    align-self: center;
  }
}
