.share-icons {
  list-style-type: none;
  margin: 0 0 40px;
  padding: 0;
  display: inline-block;
  font-size: 20px;
  font-weight: $font-weight-light;
  text-transform: uppercase;
  flex: none;

  .page-title + & {
    @include media-breakpoint-up(md) {
      display: none;
    }
  }

  li {
    display: inline;
  }

  a {
    display: inline-block;
    padding: 2px 4px;
    color: $cyan;
    transition: color 0.3s;

    &:hover {
      color: $darkcyan;
    }
  }
}

.share-label {
  margin-right: 10px;
  font-size: 16px;
  color: $cyan;
}

.social-icons {
  height: 24px;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    height: auto;
    overflow: visible;
  }

  a {
    padding: 0;
    font-size: 16px;
    line-height: 23px;
    color: white;
    background-color: $cyan;
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    border-radius: 100%;
    margin: 0 4px 0 0;
    transition: background-color 0.2s;

    &:hover {
      background-color: darken($cyan, 15%);
    }

    @include media-breakpoint-up(xl) {
      font-size: 17px;
      line-height: 35px;
      width: 35px;
      height: 35px;
      margin-right: 5px;
    }
  }

  footer & {
    a {
      background: transparent;
      font-size: 17px;
      color: $darkgrey;
      border-radius: 0;
      transition: color 0.2s;

      &:hover {
        background: transparent;
        color: black;
      }
    }
  }
}

.mobile-social-more {
  width: 24px;
  height: 24px;
  flex: 0 0 24px;
  display: inline-block;
  color: $cyan;
  background: transparent;
  border: 0;
  font-size: 22px;
  line-height: 1;
  font-weight: 300;
  text-align: center;
  padding: 0;

  &::before {
    content: '+';
  }

  &.mobile-social-more--expanded::before {
    content: '\00d7';
  }

  @include media-breakpoint-up(md) {
    display: none;
  }
}

.header-meta .btn-primary,
.sidebar .btn-primary {
  @include button-double-border;
}

.btn {
  white-space: normal;
}

.btn-secondary {
  background-image: linear-gradient(to left, #c1d6d8 0%, $cyan 100%);
  border-radius: 4px;
  border: 0;
  font: 900 16px/1 $font-stack;
  padding: 10px;

  @include font-smoothing;
}

.btn-outline-primary {
  border: 1px solid $cyan;
  border-radius: 4px;
  font: 900 16px/1 $font-stack;
  padding: 10px 20px;
  color: $cyan;

  @include font-smoothing;

  &:hover {
    color: white;
    background-color: $cyan;
    border-color: $cyan;
  }
}

/*
 * Language dropdown
 */
.language-dropdown {
  .btn-outline-secondary {
    border-color: $lightcyan;
    border-radius: 2px;
    background-color: #f5fcfd;
    color: $slate;
    font-weight: 300;
    font-size: 14px;
    position: relative;
    text-transform: uppercase;
    padding-right: 2px;
    max-width: 70px;
    overflow: hidden;

    @include media-breakpoint-up(md) {
      text-transform: none;
      padding-right: 50px;
      max-width: none;
    }

    @include media-breakpoint-up(xl) {
      font-size: 16px;
    }

    &::before {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 32px;
      border-left: 1px solid $lightcyan;
      background-color: #f5fcfd;
      box-shadow: -10px 0 3px #f5fcfd;

      @include media-breakpoint-up(md) {
        box-shadow: none;
        width: 38px;
      }
    }

    &::after {
      position: absolute;
      top: calc(50% - 2px);
      right: 12px;

      @include media-breakpoint-up(md) {
        right: 16px;
      }
    }
  }

  &.show > .btn-outline-secondary.dropdown-toggle {
    background-color: #f5fcfd;
    border-color: $lightcyan;
    color: $slate;
  }

  .dropdown-menu {
    background: $lightcyan;
    border-color: $lightcyan;
    padding: 0;

    a {
      display: block;
      padding: 5px 10px;
      color: $slate;

      &:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.4);
      }
    }
  }
}
