/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .form-control {
  border-color: $darkcyan;
  border-right: 0;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  padding-left: 20px;
}

.search-form [type="submit"] {
  border-color: $darkcyan;
  border-left: 0;
  border-top-right-radius: 99px;
  border-bottom-right-radius: 99px;
  color: $slate;

  &:hover {
    background: transparent;
  }
}

/** Gravity Forms */
.gform_button {
  @extend .btn;
  @extend .btn-primary;
}
